<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

.w3-text-teal, .w3-hover-text-teal:hover {
    color: #ea8685!important;
}

.w3-teal, .w3-hover-teal:hover {
    color: #fff!important;
    background-color: #ea8685!important;
}



</style>